DATABASE_URL=postgresql://your-database-username:your-database-password@localhost:5432/your-database-name
DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password
DB_NAME=your-database-name

AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

AUTH_SECRET=your-authentication-secret
FRONTEND_URL=http://localhost:3000

